<h1>Search Results</h1>

<% @search.requests.each do |r| %>
  Request ID: <%= r.id %>
  From: <%= r.from_language %>
  To: <%= r.to_language %>
  Description: <%= r.description %>
  User ID: <%= r.user_id %>
  <%= link_to "Preview", rails_blob_path(r.file, disposition: 'preview') %>
  <%= link_to "Download", rails_blob_path(r.file, disposition: 'attachment') %>
  <br>
  <% if current_user.id == r.user_id %>
	  <%= link_to "Edit", edit_request_path(id: r.id) %>
	  <%= link_to "Delete", request_path(id: r.id), :method => :delete %><br>
	<%end%>
<% end %>
<br>